.row
    .col-md-6
        h2
            | {{ note.title }}
    .col-md-3
    .col-md-2
        a(href='#/')
            button.btn.btn-default(style='margin-top:20px', ng-click='deleteNote()') Delete
    .col-md-1
.container(ng-hide='editMode')
    div
        p(ng-if='note.contents')
            | {{ note.contents }}
        p
            button.btn.btn-default(style='margin-top:20px', ng-click='toggleEdit()') Edit
            a.btn.btn-default(style='margin-top:20px', href='#/') Back
// Contact form
div(ng-include='noteFormUrl')
